%div.headery
  =image_tag 'logo.png', size: "200x200"

.container
  .row
    .col.col-lg-6
      .explanation
        %h2.fancy What's this about?
        %br
        %p
          Ignite Research Group is looking for Canadian citizens to give their opinions on cryptocurrency.
          %br
          %br
          Even if you don't have any Bitcoin or know much about it, we would still love to hear your thoughts.
          %br
          %br
          As a "thank you" for your time, you'll receive $40 in FREE Bitcoin upon completion of this short survey.
    .col.col-lg-6
      .explanation
        %h2.fancy What others are saying...
        %br
        %p
          Whaddup

= render 'form'
