.container
  .row
    .col.col-lg-6
      .explanation
        %h2 What's this about?
        %br
        %p.no-margin
          Thank you for participating in this  survey on virtual currencies. Your feedback is very important.
          %br
          %br
          No personal information will be published, or be used for any other purpose.
          %br
          %br
          As a way of saying thank you for your time, you’ll receive $40 in FREE Bitcoin upon completion of this short 6 question survey.
          %br
          %br
    .col.col-lg-6
      .explanation
        %h2.fancy What others are saying...
        %br
        %blockquote.twitter-tweet{"data-lang" => "en"}
          %p{:dir => "ltr", :lang => "en"}> That was the easiest money I’ve ever just made lol.
          — KeepinUpWithKyla♍️❣ (@__ShesWinning_)
          %a{:href => "https://twitter.com/__ShesWinning_/status/1002766822922473472?ref_src=twsrc%5Etfw"} June 2, 2018
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}



= render 'form'
