%div.headery
  =image_tag 'logo.png', size: "200x200"

.container
  .row
    .col.col-lg-6
      .explanation
        %h2.fancy What's this about?
        %br
        %p.no-margin
          Ignite Research Group is looking for Canadian citizens to give their opinions on cryptocurrency.
          %br
          %br
          Even if you don't have any Bitcoin or know much about it, we would still love to hear your thoughts.
          %br
          %br
          As a "thank you" for your time, you'll receive $40 in FREE Bitcoin upon completion of this short survey.
    .col.col-lg-6
      .explanation
        %h2.fancy What others are saying...
        %br
        %blockquote.twitter-tweet{"data-lang" => "en"}
          %p{:dir => "ltr", :lang => "en"}> Rest in the stars Mr. Hawking. Thank you for the inspiration.
          — Elliott Potter (@epotter04)
          %a{:href => "https://twitter.com/epotter04/status/973774698340405254?ref_src=twsrc%5Etfw"} March 14, 2018
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}


= render 'form'
