
.container
  .row
    .col-lg-8.col-lg-offset-2
      .success-form
        %h4
          %strong Step 1)
          %span.spacing
          Click the link below and register your coinsquare account
        %a.btn.btn-info.d-block.mx-auto{href: "http://o8uye.voluumtrk.com/click"} Register Now
        %h4
          %strong Step 2)
          %span.spacing
          Make sure your account is verified and updated with real and correct info. You will receive a verification email. Forward this email to us at igniteresearchgrp@gmail.com. (example below)
