%script{:src => "https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"}

.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-12
      .success-form
        %br
        %h4
          %strong Step 1)
          %span.spacing
          Click the link below and register your coinsquare account
        %a.btn.btn-info.d-block.mx-auto{href: "http://o8uye.voluumtrk.com/click"} Register Now
        %br
        %br
        %h4
          %strong Step 2)
          %span.spacing
          Make sure your account is verified and updated with real and correct info. You will receive a verification email. Forward this email to us at igniteresearchgrp@gmail.com. (example below)
          =image_tag 'email_example.png', style: 'height:60%;width:60%;text-align:center;margin:50px 50px 0 50px'
        %br
        %br
        %h4
          %strong Step 3)
          %span.spacing
          Once your account is verified, copy our PayPal address below to request your $40
          %br
          %br
          %hr
          %span.spacing
          %input.email-input{id: 'foo', value: "riley@shipt.com"}
          %button.btn.btn-success.d-block.mx-auto.copy-email-button{"data-clipboard-target" => "#foo"} Click to copy this email
          %br
          %hr
          Click the link below to navigate to PayPal.com, and paste our address in the text field to request your $40!
          %br
          %br
            %a.btn.btn-info.d-block.mx-auto{href: "https://www.paypal.com/myaccount/transfer/request"} Go to PayPal
          %br
          %hr
          If you have any further questions please do not hesitate to contact us.
          %br
          %br
          %br
          %br
          Thank you for your time,
          %br
          %br
          Ignite Research Group
